.DS_Store
release/
projects/test.01/
projects/test.02/
projects/test.00/generated/
projects/release.2021-09-15
projects/release.2021-09-15.05-19
__pycache__/
venv/
node_modules/
.vscode/
venv*/
client-py/dist/
client-py/build/
*.egg-info
client-js/gtk-dist/
gtk.min.js
gtkclient_*_test.json
testing/scratch
