.DS_Store
release/
doc/database.pdf
projects/test.02/
projects/test.01/generated
projects/test.01/source/array
projects/test.01/source/*/*.pdb
projects/test.01/source/*.gff3
projects/test.01/source/*/*.dms
projects/test.01/source/*/*Binned*.csv
projects/test.00/generated/
projects/release.2021-09-15
projects/release.2021-09-15.05-19
projects/release.v1.1.0
server/static/*.pdf
__pycache__/
venv/
node_modules/
.vscode/
venv*/
client-py/dist/
client-py/build/
*.egg-info
client-js/gtk-dist/
client-js/dist/
gtk.min.js
gtkclient_*_test.json
testing/scratch
package-lock.json
result
