.DS_Store
release/
doc/database.pdf
projects/test.02/
projects/test.01/generated
projects/test.01/source/array
projects/test.00/generated/
projects/release.2021-09-15
projects/release.2021-09-15.05-19
server/static/*.pdf
__pycache__/
venv/
node_modules/
.vscode/
venv*/
client-py/dist/
client-py/build/
*.egg-info
client-js/gtk-dist/
gtk.min.js
gtkclient_*_test.json
testing/scratch

