* {
    font-family: helvetica !important;
}

div.gtkpage {
    width: 100%;
    border: 1px solid gray;
}

body {
    background-color: #f9f9f9;
}

.gtkicon {
    vertical-align: middle;
}

div.gtk { padding: 5px;
}

.gtktitlecell {
    text-align: left;
    color: black;
    background-color: #D3D3D3;
}

.gtkheader {
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #373737;
}

.gtkfooter {
    text-align: center;
    font-size: 10px;
    padding: 5px;
    color: white;
    background-color: #373737;
}

.gtkbody {

}

.gtkbodyrow {
    vertical-align: top;
}

.gtkbodytd {
    vertical-align: top;
}

.gtkrow {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.gtkcolumn {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.gtkgeometrycontainer, .gtkglobalentrycontainer, .gtkchartlist {
    order: 1;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.gtkviewcontainer {
    position: relative;
    margin: 5px;
    line-height: 0;
}

.gtkoverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.gtkchartlistcharts {
    width: 430px;
    height: 500px;
    overflow-y: auto;
}

.gtkchartlistpaircontainer {
    vertical-align: top;
    font-size: 10px;
    text-align: left;
    padding-left:5px;
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.gtkgeometry {
    flex-grow: 1;
    width: 100%;
    height: 500px;
}

.gtkgeometrycanvas, .gtkviewcanvas {
    border: 1px solid black;
}

.gtktrackscontainer {
    order: 1;
    flex-grow: 1;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.gtktracks {
    flex-grow: 1;
    width: 100%;
    height: 500px; 
}

.gtkmetadatacontainer {
    height: 100%;
    width: 50%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 12px;
}

.gtkprojectdatafilename {
    font-size: 12px;
}

.gtktitle, .gtkgeometrytitle, .gtkglobalentrytitle, .gtkchartlisttitle {
    padding-top:    10px;
    padding-right:  5px;
    padding-bottom: 10px;
    padding-left:   0px;
    font-size:      18px !important;
}

.gtktracktitle {
    padding-top:    10px;
    padding-right:  5px;
    padding-bottom: 10px;
    padding-left:   0px;
} 

.gtkbodytable {
    font-size: 20px;
}

.gtkviewcontainer .zoomsvg {
    border-style: solid;
    transition: border-color 0.2s;
}

.gtkviewcontainer .zoomsvg[pointer-events=none] {
    border-color: transparent;
    cursor: grab;
}

.gtkviewcontainer .zoomsvg[pointer-events=all] {
    border-color: steelblue;
    cursor: grab;
}
