* {
    font-family: helvetica !important;
}

.gtklinkimage {
    border: 1px solid gray;
}

div.gtkpage {
    width: 2250;
    border: 1px solid gray;
}

body {
    background-color: #f9f9f9;
}

.gtkicon {
    vertical-align: middle;
}

div.gtk { padding: 5px;
}

.gtktitlecell {
    text-align: left;
    color: black;
    background-color: #D3D3D3;
}

.gtkheader {
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #373737;
}

.gtkfooter {
    text-align: center;
    font-size: 10px;
    padding: 5px;
    color: white;
    background-color: #373737;
}

.gtkbody {
}

.gtkbodyrow {
    vertical-align: top;
}

.gtkbodytd {
    vertical-align: top;
}

.gtkrow {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.gtkcolumn {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.gtkgeometrycontainer, .gtkglobalentrycontainer {
    order: 1;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.gtkviewcontainer {
    position: relative;
    margin: 5px;
    line-height: 0;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 5px;
}

.gtkviewerpanel, .gtktrackpanel {
    background-color: #D3D3D3;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.gtkcontactmapcontainer {
    position: relative;
    margin: 5px;
    line-height: 0;
}

.gtkoverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.gtktrackpanelcharts {
    width:  500px;
    height: 819px;
    overflow-y: auto;
}

.gtktrackpanelpaircontainer {
    vertical-align: top;
    font-size: 10px;
    text-align: left;
    padding-left:5px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
}

.gtkgeometry {
    flex-grow: 1;
    width: 100%;
    height: 500px;
}

.gtkgeometrycanvas, .gtkviewcanvas {
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px;
    border-radius: 5px;
}

.gtktrackscontainer {
    order: 1;
    flex-grow: 1;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.gtktracks {
    flex-grow: 1;
    width: 100%;
    height: 500px; 
}

.gtkmetadatacontainer {
    height: 100%;
    width: 50%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 12px;
}

.gtkprojectdatafilename {
    font-size: 12px;
}

.gtktitle, .gtkgeometrytitle, .gtkglobalentrytitle, .gtktrackpaneltitle {
    padding-top:    10px;
    padding-right:  5px;
    padding-bottom: 10px;
    padding-left:   0px;
    font-size:      18px !important;
}

.gtktracktitle {
    padding-top:    10px;
    padding-right:  5px;
    padding-bottom: 10px;
    padding-left:   0px;
} 

.gtkbodytable {
    font-size: 20px;
}

.gtkcontactmapcontainer .zoomsvg {
    box-sizing: border-box;
    border-style: solid;
    transition: border-color 0.2s;
    transition: border-width 0.2s;
}

.gtkcontactmapcontainer .zoomsvg[pointer-events=none] {
    border-width: 1px;
    border-color: black;
    cursor: grab;
}

.gtkcontactmapcontainer .zoomsvg[pointer-events=all] {
    border-width: 4px;
    border-color: rgb(59, 165, 252);
    cursor: grab;
}

.gtkcontroltable {
    width: 300px;
}

.gtkcontrolpanelselect {
    width: 150px;
}
